/*
  File: audio.css
  Author: Jackson Champion
  Date: 2025-07-03
  Course: CPSC 3750 – Web Application Development
  Purpose: Style Sheets for The audio player webpage for Project #1.
  Notes: Uses Simple and custom CSS styles.
*/

body {
    font-size: 12pt;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: black;
    line-height: 14pt;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 5pt;
    margin: 10px;
    padding: 10px;
}

#playlist {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

h1 {
    font-size: 16pt;
    font-weight: bold;
    line-height: 20pt;
}

#playlist button {
    padding: 10px;
    font-size: 14pt;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: background-color 0.3s;
}

#playlist button:hover {
  background-color: aqua;
}

audio {
      margin: 10px;
      width: 100%;
      max-width: 600px;
}



#controls button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16pt;
}

nav {
    background-color: #522D80; 
    padding: 15px;
    text-align: left;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    display: inline-block;
}

nav a:hover {
    text-decoration: underline;
    color: #FFD700; 
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
}

.dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search-container {
  display: inline-block;
}

.search-box {
  padding: 10px;
  border-radius: 4px;
  font-size: 12pt;
}

.search-btn {
  padding: 12px;
  background-color: #F56600;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #D35400;
}

